<?xml version="1.0" encoding="utf-8" ?>
<PTO.web>
  <application cacheExpiry="20" loginExpiry="30" persistentCookieExpiryDays="30" dynamicFileDirectory="">
    <data automaticValidateOnSaveEnabled="false" />
  </application>
  <encryption workFactor="10" shiftFactor="35" shiftOffset="7" shiftDirection="Left" />
  <constants>
    <minimumYear value="1900" />
    <registrationWindowDays value="7" />
    <googleMapsApiKey value="" />
  </constants>
  <email fromAddress="patrick.j.smith1@gmail.com">
    <toAddresses>
      <toAddress id="Primary" value="patrick.j.smith1@gmail.com" />
      <toAddress id="Other1" value="" />
    </toAddresses>
    <smtp server="" port="587" username="Test.Mail" password="TekPass1234" />
  </email>
  <user defaultImage="user.jpg" />
  <environment>
    <baseUrls>
      <baseUrl id="Dev" value="http://localhost:3786/" />
      <baseUrl id="Int" value="http://localhost:3786/" />
      <!--
      <baseUrl id="QA" value="http://qa.pto.com/" />
      <baseUrl id="Prod" value="http://pto.com/" />
      -->
    </baseUrls>
  </environment>
</PTO.web>