body {
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
}

#admin-map > .container {
    width: 100%;
    height: 100%;
    padding: 51px 0 0;
}